<h1>All users</h1>
<table border="1">
    <thead>
    <tr>
        <th>DID</th>
        <th>Handle</th>
        <th>Last logged in</th>
        <th>Created at</th>
    </tr>
    </thead>
    <tbody>
    {{#each users}}
        <tr>
            <td>{{this.did}}</td>
            <td>{{this.handle}}</td>
            <td>{{this.lastUsedAt}}</td>
            <td>{{this.createdAt}}</td>
        </tr>
    {{/each}}
    </tbody>
</table>