{% macro is_active_page(path) -%}
    {%- if global_nav.path == path %}active{% endif -%}
{%- endmacro -%}
{% macro is_active_tree(path) -%}
    {%- if global_nav.path.startsWith(path) %}active{% endif -%}
{%- endmacro -%}
{% macro bsky_link(did, handle='', classes='') -%}
    <a href="https://bsky.app/profile/{{ did }}" class="{{ classes }}">{{ handle | d(did) }}</a>
{%- endmacro %}
{% macro bsky_link_user(user, classes='') -%}
    {{ bsky_link(user.did, user.handle, classes) }}
{%- endmacro %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title | d("Sharesky") }}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    {% block header %}
    {% endblock %}
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary mb-3">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">ShareSky</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link {{ is_active_page("/") }}" aria-current="page" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ is_active_tree("/acl") }}" href="/acl">ACLs</a>
                </li>
            </ul>
            <ul class="navbar-nav d-flex">
                {% if global_nav.is_logged_in %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                           aria-expanded="false">
                            {{ global_nav.logged_in_handle }}
                        </a>
                        <ul class="dropdown-menu">
                            <li>{{ bsky_link(global_nav.logged_in_did, "Go to Bluesky", "dropdown-item") }}</li>
                            <li><a class="dropdown-item" href="/logout">Log out</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link {{ is_active_page("/login") }}" href="/login">Log in</a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
<div class="container">
    {% block content %}
        No content! Template error?
    {% endblock %}
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI"
        crossorigin="anonymous"></script>
{% block scripts %}
{% endblock %}
</body>
</html>