{% extends "layouts/main.html.njk" %}
{% block content %}
    <h1>ACL unsealing</h1>
    <p>You can only see this once.</p>
    <p>Accessing {{ targetDid }}</p>
    <div>
        <p>Username:
        <pre>{{ username }}</pre>
        </p>
        <p>Password:
        <pre>{{ password }}</pre>
        </p>
    </div>

    <p>To sign in using this identity, navigate to Bluesky's sign in page. Then before typing in the username and
        password,
        click "Hosting Provider", choose "Custom", and then type <code>{{ serverHost }}</code> into the "Server address"
        field. Then click "Done", then enter the account details above and click "Next".</p>
{% endblock %}
