<h1>ACL unsealing</h1>
<p>You can only see this once.</p>
<p>Accessing {{targetDid}}</p>
<div>
    <p>Username:
    <pre>{{username}}</pre>
    </p>
    <p>Password:
    <pre>{{password}}</pre>
    </p>
</div>